.tab-scroll::-webkit-scrollbar {
  display: none;
}

h6 {
  margin: 0 !important;
}

.messenger {
  -webkit-box-shadow: 0px 0px 17px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px -12px rgba(0, 0, 0, 0.75);
  background-color: #fafafa;
}

.chat-input:focus {
  outline: none;
  box-shadow: none !important;
}

.scrollListener::-webkit-scrollbar {
  width: 5px;
}

.scrollListener::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #6b3bb4;
}

.scrollListener::-webkit-scrollbar-thumb {
  background-color: #6b3bb4;
  outline: 1px solid #6b3bb4;
}

.btn,
button {
  box-shadow: none;
}

.bs-popover-right > .arrow::after,
.bs-popover-auto[x-placement^='right'] > .arrow::after {
  border-right-color: #6b3bb4 !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: #27a3fc !important;
  border-color: #0093ff !important;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: aliceblue !important;
}

.btn:focus,
.btn.focus {
  box-shadow: none;
}

.group-card::after {
  position: absolute;
  content: '';
  display: none;
  background-color: transparent;
  top: -7px;
  left: -10px;
  width: 3rem;
  z-index: -3;
  height: 3.5rem;
  border: 15px solid #6b3bb4;
  border-radius: 50%;
  box-shadow: inset -12px 5px 0 3px #6b3bb4;
}

.group-card:hover::after {
  display: block;
}

.active.group-card::after {
  display: block;
}

.chat {
  -webkit-box-shadow: 0px 0px 17px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px -12px rgba(0, 0, 0, 0.75);
  background-color: #f3f6ff;
}

/* SIDEBARS */
.left-bar {
  width: 100%;
  max-width: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 51;
  background-color: #f3f6ff;
  -webkit-box-shadow: 6px 0px 21px -11px rgba(0, 0, 0, 1);
  -moz-box-shadow: 6px 0px 21px -11px rgba(0, 0, 0, 1);
  box-shadow: 6px 0px 21px -11px rgba(0, 0, 0, 1);
}

.right-bar {
  width: 100%;
  max-width: 200px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 51;
  height: 100vh;
  background-color: #f3f6ff;
  -webkit-box-shadow: -6px 0px 21px -11px rgba(0, 0, 0, 1);
  -moz-box-shadow: -6px 0px 21px -11px rgba(0, 0, 0, 1);
  box-shadow: -6px 0px 21px -11px rgba(0, 0, 0, 1);
}

.toggle-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  background-color: black;
  opacity: 0.2;
  z-index: 50;
}

/* MEMBER CARD */
.member {
  -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.38);
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.38);
}
